/* Colors */
$color-green: #9ab729;
$color-green-border: #8fae15;
$color-green-border-imgframe: #c7df63;
$color-green-lightest: #dbf049;
$color-gray-dark: #666;
$color-gray-darkest: #333;
$color-white: #fff;
