/* fonts */

$sans-stack: helvetica,verdana,arial,sans-serif;
$digital: 'Press Start 2P',sans-serif;
$mondaHdr: 'Monda', helvetica, sans-serif;
$Gidugu: 'Gidugu', sans-serif;
/*
font-family: 'Press Start 2P', cursive;
font-family: 'Gidugu', sans-serif;
font-family: 'Monda', helvetica, sans-serif;
*/