@import "colors";
@import "fonts";

/* Common styles */
.clean-uls ul {
    margin: 0;
    padding: 0;

    list-style: none;
    list-style-image: none;

    li {
        list-style: none;
        list-style-image: none;
    }
}
.nomargnopad {
    margin: 0;
    padding: 0;
}
.inline-list li {
    display: inline;
}
.stretch {
    width: 100%;
    height: 100%;
}
.fixed {
    position: fixed !important;
    z-index: 2000;
    top:0;
    left:0;
    width: 100%;
}

/* OBJECTS */
/** Media **/
.media,
.bdy {
    overflow: hidden;
    zoom: 1;

    _overflow: visible;
}
.media {
        .img {
            float: left;

            margin-right: 10px;

            img {
                display: block;
                padding: 1px;
                border: 1px solid #ccc;
            }
        }
        .imgExt {
            float: right;

            margin-left: 10px;
        }
        .bdy {
            display: block;
        }
}

/* media styles */
@media ( max-width: 400px ) {
    .media .bdy {
        display: inline;
    }
}
.nolink {
     .img,a {
        cursor: default;
     }
}


/* Main Structure */
body {
    font-family: $sans-stack;
}
#sol-content {
    max-width: 958px;
    height: 100%;
    margin: 0 auto;

    border-right: 1px dashed $color-green-lightest;
    border-left: 1px dashed $color-green-lightest;
    background: url('/images/bg_slice.png') repeat left top;

    .cont-pdg {
       padding: 15px 0 0 0;
    }
}

#brandBar {
    position: relative;
    max-width: 100%;
    height: 19px;
    margin: 0 auto;

    background: url('/images/menu_bar_960.jpg') repeat-x left top;
}

#menuTab {
    position: absolute;
    right: 0;
    top: 22px;
    width: auto;
    background: red;
    padding: 3px 6px 6px;
    font-weight: bold;
    font-size: 13px;
    text-transform: lowercase;
    text-decoration: none;
    color: #f4f4f4;
    border: 1px solid #999;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;

    span{
        padding-left: 20px;
        background-image: url('/images/icon-menu.svg');
        background-position: 0 2px;
        background-size: 15px;
        background-repeat: no-repeat;
    }
}
.navcluster.closed #menuTab span {
        background-image: url('/images/icon-menu_fff.svg');
}
/*
#hamburger {
    position: absolute;
    left: 8px;
    top: 7px;
}
*/
#sideNav {
    display: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 49px;
    background: #d9ef42;
    padding: 20px 20px 25px 20px;
    border-radius: 15px 0 15px 50px;
    border: 1px solid #ccc;

    ul {
        background: #fff;
        padding: 5px 10px 20px 10px;
        margin: -14px -20px -18px;
    }
    li {
        border-bottom: 1px solid #d9ef42;
    }
    a {
        display: block;
        margin: 0 -10px;
        padding: 10px;
        font-size: 15px;
        text-transform: lowercase;
        text-decoration: none;
        text-align: center;
        color: #666;
        
        &:hover{
            background: #d9ef42;
        }
    }
}
.navcluster #sideNav { display: none; }
@media( min-width: 600px){
    .navcluster #sideNav { display: block; }
}
.navcluster.open #sideNav { display: block; }
.navcluster.closed #sideNav { display: none; }
.portfolio .navLink.port a,
.resume .navLink.home a { background: #d9ef42; }

#bannerAnim {
    width: 100%;
    height: 19px;
    background: url('/images/menu_bar_960.jpg') repeat-x left top;
}
#head {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 10px;
}
.site-name {
    position: relative;
    float: right;
}
#logo {
    position: absolute;
    right: -32px;
    top: 0;
    opacity: 0;
}
.logo {
    display: block;
    overflow: hidden;

    width: 291px;
    height: 0;
    margin-right: 15px;
    padding-top: 43px;

    background: url('/images/logo.png') no-repeat left top;
}
.hd-contact {
    margin: 0 0 10px 15px;
}
@media ( max-width: 980px ) {
    .sol-res-footer .bot {
        background-position: 98% center;
    }
}
@media ( max-width: 540px ) {
    .site-name {
        float: none;
        position: relative;
        overflow: hidden;
        width: 240px;
        margin: 0 auto;
    }
    .hd-contact {
        margin-top: 10px;
        margin-left: 0;

        text-align: center;
    }
    .logo {
        width: 240px;
        padding-top: 35px;

        background-image: url('/images/logo-med.png');
    }
}
@media ( max-width: 420px ) {
    .sol-res-footer .bot {
        background: none;
    }
    #footer {
        padding-bottom: 40px;

        background: url('/images/footer_solcomlogo.gif') no-repeat center 92%;
    }
    .sol-contact {
        padding-top: 10px;
    }
}

#footer {
    max-width: 100%;
    margin: 0 auto;
}
.sol-res-header {
    overflow: hidden;

    margin-top: 25px;
    padding: 0 20px;
}
.sol-res-footer {
    min-height: 100px;

    background: url('/images/footer_bar_960.jpg') repeat-x left top;
}
.toTop {
    float: right;
}
.bot {
    clear: both;
    overflow: hidden;

    width: 80%;
    margin: 0 auto;
    padding-top: 5px;

    background: url('/images/footer_solcomlogo.gif') no-repeat right center;
}
.sol-res-validated {
    display: inline-block;

    margin: 5px 0;
}
.sol-contact {
    margin-bottom: 5px;
}
@media ( max-width: 380px ){
    .sol-contact {
        text-align: center;
    }
    .download-resume {
        overflow: hidden;
        width: 68%;
        margin: 0 auto;
        text-align: center;
    }
}
.download-resume {
    .inline-list {
        font-size: 14px;
        font-weight: bold;
        color: $color-gray-dark;

        li {
            margin-right: 5px;
            line-height: 16px;
        }
        a {
            display: inline-block;
            overflow: hidden;
            width: 16px;
            height: 0;
            padding-top: 16px;
            background-image: url('/images/sprite-doc-icons.png');
            background-repeat: no-repeat;
        }
        .pdf {
            background-position: -10px -36px;
        }
        .doc {
            background-position: -10px -10px;
        }
        .label {
            vertical-align: top;
        }
    }
}

/* sections */
.skills-hd,
.experience-hd,
.education-hd,
.awards-hd,
h2 {
    width: 40%;
    margin-left: -1px;

    text-align: center;

    border: 1px dashed $color-green-lightest;
    border-left: none;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
            border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
            border-bottom-right-radius: 8px;
    background: $color-white;
    font-family: $mondaHdr;
    font-size: 22px;
    line-height: 27px;
    box-shadow: 3px 4px 22px -8px;

}
#mainHd {
    max-width: 60%;
}
.portfolio #mainHd {
    float: left;
    margin: .6em 0 1em;
}
@media ( max-width: 700px) {
    .skills-hd,
    .experience-hd,
    .education-hd,
    .awards-hd,
    h2 {
        width: 80%;
    }
}
.sol-skills {
    margin: 0 25px 20px 0;

    font-size: 15px;
    line-height: 20px;

    p {
        line-height: 22px;  
    }
}
.sol-software {
    font-size: 15px;
    line-height: 20px;

    p {
        line-height: 22px;  
    }
}
@media ( max-width: 540px ) {
    .sol-skills,
    .sol-software {
        font-size: 13px;
        line-height: 20px;
    }
}
@media ( min-width: 1200px ) {
    .sol-skills {
        float: left;
    }
    .sol-software,
    .sol-skills {
        display: inline-block;

        width: 45%;
    }
}
.sol-skills span,
.sol-software span {
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Monda';
    color: #222;
}
@media ( max-width: 700px ) {
    .sol-skills,
    .sol-software {
        float: none;

        width: 100%;
    }
}
.sol-res-items {
    display: inline-block;
    clear: both;

    margin-top: 40px;
}
.sol-res-item {
    margin-bottom: 30px;
    padding: 0 20px;
    background-size: 26%;
}
.sol-res-item {
    h4,
    h5,
    h6 {
        padding-right: 80px;
        font-size: 14px;
    }
    h4 {
        font-size: 18px;
        margin-bottom: 8px;
        font-family: 'Monda';
        line-height: 20px;
        letter-spacing: .5px;
    }
    h5 {
        margin-bottom: 3px;
    }
    h6 {
        font-size: 12px;
        color: #222;
        margin: 0;
        padding: 0;
    }
    &.awards  {

        h4 {
            font-size: 14px;
            margin-bottom: 5px;
            font-family: Monda;
            line-height: 16px;
            letter-spacing: .5px;
        }
        h5 {
            margin-bottom: 2px;
            line-height: 16px;
        }
    }
    &.education {
        h4 {
            font-size: 14px;
            font-size: 16px;
            margin-bottom: 4px;
        }
        h5 {
            margin-bottom: 3px;
            line-height: 18px;
        }
    }
}
.sol-res-item p,
.more-details {
    margin-top: 20px;

    font-size: 14px;
    line-height: 20px;

    color: #666;
    text-align: justify;
}
@media ( min-width: 600px ) {
    .sol-res-item p {
        text-align: left;
    }
    .sol-res-item h4 {
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 22px;
    }
}
.sol-res-item.hearst {
    background: url('/images/clients/hearst/experience_client_logo_transparency-hearst_sm.png') no-repeat 97% top;
    background-size: 26%;
}
.sol-res-item.penton {
    background: url('/images/clients/penton/experience_client_logo_transparency_Penton.png') no-repeat 97% -10px;
    background-size: 26%;
}
@media(min-width: 768px ){
    .sol-res-item.penton,
    .sol-res-item.hearst {
        background-size: 13%;
    }
}
.item-callout {
    display: block;

    padding: 10px 0 0;
}


.more-details {

    h5 {
        color: #9ab729;
        border-top: 1px dashed #8fae15;
    }
    ul {
        display: none;
        margin: 15px 10px 5px 5px;
        padding: 0 0 10px 15px;
        border-bottom: 1px solid #e4f477;

        li {
           clear: both;
            margin-bottom: 13px;
            text-align: left;
        }
        li.client-ref {
           overflow: hidden;
            margin-bottom: 15px;
            list-style: none;
        }
        li.client-ref.media {
            margin-bottom: 25px;
        }
    }
    .switch {
        display: block;

        width: 100px;
        margin: -10px 0 0 3%;
        padding-right: 20px;

        text-align: center;

        border: 1px dashed #9ab729;
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
                border-radius: 3px;
                border-radius: 3px;
    }

}
.more-details.section .switch {
    background: $color-white url('/images/navport_up.gif') no-repeat right center;
}
.more-details.section.hidden .switch {
    background: $color-white url('/images/navport_down.gif') no-repeat right center;
}

/* Headers and Links */
#head {
    h1 {
        overflow: hidden;

        margin: 0 0 5px 0;

        font-family: $sans-stack;
        font-size: 17px;
        font-weight: bold;
        line-height: 15px;

        color: #8dad0f;
        border-bottom: none;
    }
}
h1 a {
    text-decoration: none;

    border: none;
}
h2 {
    padding: 15px 20px 15px 5px;

    font-family: $mondaHdr;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.4;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: $color-gray-dark;
}
h3 {
    margin-bottom: 20px;
    padding: 8px 0;

    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;

    color: $color-gray-dark;
}
h4 {
    height: auto;
    margin: 0 0 3px;

    font-size: 11px;
    font-weight: bold;

    color: $color-gray-darkest;
}
h5 {
    margin: 0;

    font-size: 11px;
    font-weight: bold;

    color: $color-gray-dark;
}
.hdGreenLink {
    font-size: 14px;
    font-weight: bold;
    line-height: 13px;

    text-decoration: none;

    color: $color-green;
}
.hdGreen {
    font-size: 20px;

    color: $color-green;
}
.hdGreenLink,
.poplink {
    font-size: 14px;
    font-weight: bold;
    line-height: 13px;

    text-decoration: none;

    color: $color-green;
}
.hdGreenLink:link,
.poplink:link {
    font-size: 14px;
    font-weight: bold;
    line-height: 13px;

    text-decoration: none;

    color: $color-green;
}
a.hdGreenLink:hover,
.poplink:hover {
    color: #718b1d;
    border-bottom: 1px dashed $color-green;
}
.hdGreenLink:active,
.poplink:active {
    color: $color-green;
}

/* Portfolio */

#portfolioDisplay {
    padding: 20px;
}
.portfolioElem {
    padding-top: 20px;
    clear: right;
}
.portfolio h5 {
    font-size: 16px;
    margin: 0 0 0;
    color: #9ab729;
    border-top: 1px dashed #8fae15;
}
.portfolio .flag {
    background: $color-white;
    border-radius: 5px;
    border: 2px dashed $color-green;
    padding: 5px 10px;
    margin: -16px 0 15px;
    display: block;
    width: 175px;
    text-align: center;
    letter-spacing: 1px;
}
.portfolioElem.sortNav {
    margin-bottom: 70px;
    margin-top: 3px;
    z-index: 5;
}
.portfolioElem.sortNav .flag {
    float: right;
}
@media( max-width: 500px){
    .portfolioElem.sortNav {
        clear: both;
        margin-bottom: 0;
    }
    .portfolioElem.sortNav .flag {
        float: none;
        margin: -16px auto 15px;
    }
}
#portSort {
    label {
        float: left;
        font-size: 11px;
        text-transform: uppercase;
        line-height: 19px;
    }
    select {
        height: 19px;
        border: none;
        outline: none;
        background: transparent;
        font-weight: bold;
        font-size: 14px;

        &:focus {
            outline: none;
            border: none;
        }
    }

}
ul.portDetails {
    margin-left: 10px;
}
.overflow {
    display: none;
}
.portItem {
    display: table;
    overflow: hidden;
    position: relative;
    margin-bottom: 2em;
    -webkit-box-shadow: 13px 14px 64px -22px rgba(88,94,75,0.96);
    -moz-box-shadow: 13px 14px 64px -22px rgba(88,94,75,0.96);
    box-shadow: 13px 14px 64px -22px rgba(88,94,75,0.96);

    .portImgLink {
        display: block;
        width: 100%;
        position: relative;

        &:after {
            content: '';
            display: inline-block;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            position: absolute;
            top: 0;
            left: 0;
            border-top: 1px solid #999;
            border-right: 1px solid #999;
            border-left: 1px solid #999;
            border-bottom: none;
            
        }

    }
    .portImg {
        width: calc(100% - 16px);
        margin-bottom: -6px;
        border: 8px solid $color-green-border-imgframe;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 0;

        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 0;
        -moz-border-radius-bottomleft: 0;

        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .portInfo {
        display: block;
        width: calc(100% - 44px);
        height: 100%;
        padding: 20px;
        background: $color-white;
        border: 2px dashed $color-green-border;
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;

        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;

        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;

        h6 {
            margin: 0;
            font-size: 16px;
        }
        p,ul {
            font-size: 15px;
            line-height: 23px;
        }
    }
}

@media ( min-width: 960px ){
    .portItem .portInfo {
        display: table-cell;
        width: calc(40% - 4px);
        margin-left: 20px;
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 0;

        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 0;

        border-top-left-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 0;
    }
    .portItem .portImgLink {
        display: table-cell;
        vertical-align: top;
        width: 60%;

        &:after {
            width: calc(100% - 2px);
            height: calc(100% - 2px);

            border-top: 1px solid #999;
            border-bottom: 1px solid #999;
            border-left: 1px solid #999;
            border-right: none;
        }
    }
    .portItem .portImg {
        margin-bottom: -4px;
        border-right: 12px solid #c7df63;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 5px;

        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 0;
        -moz-border-radius-bottomleft: 5px;

        border-top-left-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 5px;

        &:after {
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            border-top: 1px solid #999;
            position: absolute;
            top: 0;
            left: 0;
            border-left: 1px solid #999;
            border-bottom: none;
            border-right: 1px solid #999;
        }
    }
}