/* Variables */
/*fonts*/
/* Common styles */
.clean-uls ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}

.nomargnopad {
  margin: 0;
  padding: 0;
}

.inline-list li {
  display: inline;
}

.stretch {
  width: 100%;
  height: 100%;
}

/* OBJECTS */
/** Media **/
.media,
.bdy {
  overflow: hidden;
  zoom: 1;
  _overflow: visible;
}

.media .img {
  float: left;
  margin-right: 15px;
}
.media .img img {
  display: block;
  padding: 1px;
  border: 1px solid #ccc;
}
.media .imgExt {
  float: right;
  margin-left: 10px;
}
.media .bdy {
  display: block;
}

/* media styles */
@media (max-width: 400px) {
  .media .bdy {
    display: inline;
  }
}
.details-list .client-ref.nolink .img {
  cursor: default;
}

/* Main Structure */
body {
  font-family: verdana, arial;
}

#sol-content {
  max-width: 958px;
  margin: 0 auto;
  border-right: 1px dashed #dbf049;
  border-left: 1px dashed #dbf049;
  background: url("/images/bg_slice.png") repeat left top;
}
#sol-content .cont-pdg {
  padding: 15px 0 0 0;
}

#nav {
  max-width: 100%;
  height: 19px;
  margin: 5px auto 0;
  background: url("/images/menu_bar_960.jpg") repeat-x left top;
}

#bannerAnim {
  width: 100%;
  height: 19px;
  background: url("/images/menu_bar_960.jpg") repeat-x left top;
}

#head {
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 10px;
}

.site-name {
  position: relative;
  float: right;
}

#logo {
  position: absolute;
  right: -32px;
  top: 0;
  opacity: 0;
}

.logo {
  display: block;
  overflow: hidden;
  width: 291px;
  height: 0;
  margin-right: 15px;
  padding-top: 43px;
  background: url("/images/logo.png") no-repeat left top;
}

.hd-contact {
  margin-left: 15px;
}

@media (max-width: 980px) {
  .sol-res-footer .bot {
    background-position: 98% center;
  }
}
@media (max-width: 540px) {
  .site-name {
    float: none;
    position: relative;
    overflow: hidden;
    width: 240px;
    margin: 0 auto;
  }

  .hd-contact {
    margin-top: 10px;
    margin-left: 0;
    text-align: center;
  }

  .logo {
    width: 240px;
    padding-top: 35px;
    background-image: url("/images/logo-med.png");
  }
}
@media (max-width: 420px) {
  .sol-res-footer .bot {
    background: none;
  }

  #footer {
    padding-bottom: 40px;
    background: url("/images/footer_solcomlogo.gif") no-repeat center 92%;
  }

  .sol-contact {
    padding-top: 10px;
  }
}
#footer {
  max-width: 100%;
  margin: 0 auto;
}

.sol-res-header {
  overflow: hidden;
  margin-top: 25px;
  padding: 0 20px;
}

.sol-res-footer {
  min-height: 100px;
  background: url("/images/footer_bar_960.jpg") repeat-x left top;
}

.toTop {
  float: right;
}

.bot {
  clear: both;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  padding-top: 5px;
  background: url("/images/footer_solcomlogo.gif") no-repeat right center;
}

.sol-res-validated {
  display: inline-block;
  margin: 5px 0;
}

.sol-contact {
  margin-bottom: 5px;
}

@media (max-width: 380px) {
  .sol-contact {
    text-align: center;
  }

  .download-resume {
    overflow: hidden;
    width: 68%;
    margin: 0 auto;
  }
}
.download-resume .inline-list {
  font-size: 10px;
  font-weight: bold;
  color: #666;
}
.download-resume .inline-list li {
  margin-right: 5px;
  line-height: 16px;
}
.download-resume .inline-list a {
  display: inline-block;
  overflow: hidden;
  width: 16px;
  height: 0;
  padding-top: 16px;
  background-image: url("/images/sprite-doc-icons.png");
  background-repeat: no-repeat;
}
.download-resume .inline-list .pdf {
  background-position: -10px -36px;
}
.download-resume .inline-list .doc {
  background-position: -10px -10px;
}
.download-resume .inline-list .label {
  vertical-align: top;
}

/* sections */
.skills-hd,
.experience-hd,
.education-hd,
.awards-hd,
h2 {
  width: 40%;
  margin-left: -1px;
  text-align: center;
  border: 1px dashed #dbf049;
  border-left: none;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
  background: #fff;
}

@media (max-width: 700px) {
  .skills-hd,
  .experience-hd,
  .education-hd,
  .awards-hd,
  h2 {
    width: 50%;
  }

  .education-hd span {
    display: block;
  }
}
.sol-skills {
  margin: 0 25px 20px 0;
  font-size: 13px;
  line-height: 20px;
}

.sol-software {
  font-size: 13px;
  line-height: 20px;
}

@media (max-width: 540px) {
  .sol-skills,
  .sol-software {
    font-size: 13px;
    line-height: 20px;
  }
}
@media (min-width: 1200px) {
  .sol-skills {
    float: left;
  }

  .sol-software,
  .sol-skills {
    display: inline-block;
    width: 45%;
  }
}
.sol-skills span,
.sol-software span {
  font-size: 13px;
}

@media (max-width: 700px) {
  .sol-skills,
  .sol-software {
    float: none;
    width: 100%;
  }
}
.sol-res-items {
  display: inline-block;
  clear: both;
  margin-top: 40px;
}

.sol-res-item {
  margin-bottom: 30px;
  padding: 0 20px;
}

.sol-res-item h4,
.sol-res-item h5 {
  padding-right: 90px;
}
.sol-res-item h5 {
  margin-bottom: 2px;
}

.sol-res-item p,
.more-details {
  margin-top: 20px;
  font-size: 12px;
  line-height: 20px;
  color: #666;
  text-align: justify;
}

@media (min-width: 600px) {
  .sol-res-item p {
    text-align: left;
  }
}
.sol-res-item.hearst {
  background: url("/images/clients/hearst/experience_client_logo_transparency-hearst_sm.png") no-repeat 97% top;
}

.sol-res-item.penton {
  background: url("/images/clients/penton/experience_client_logo_transparency_Penton.png") no-repeat 97% -10px;
}

.item-callout {
  display: block;
  padding: 10px 0 0;
}

.more-details h5 {
  color: #9ab729;
  border-top: 1px dashed #8fae15;
}
.more-details ul {
  display: none;
  margin: 15px 20px 5px 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e4f477;
}
.more-details ul li {
  clear: both;
  margin-bottom: 13px;
}
.more-details ul li.client-ref {
  overflow: hidden;
  margin-bottom: 15px;
  list-style: none;
}
.more-details ul li.client-ref.media {
  margin-bottom: 25px;
}
.more-details .switch {
  display: block;
  width: 100px;
  margin: -10px 0 0 3%;
  padding-right: 20px;
  text-align: center;
  border: 1px dashed #9ab729;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-radius: 3px;
}

.more-details.section .switch {
  background: #fff url("/images/navport_up.gif") no-repeat right center;
}

.more-details.section.hidden .switch {
  background: #fff url("/images/navport_down.gif") no-repeat right center;
}

/* Headers and Links */
#head h1 {
  overflow: hidden;
  margin: 0 0 5px 0;
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 15px;
  color: #8dad0f;
  border-bottom: none;
}

h1 a {
  text-decoration: none;
  border: none;
}

h2 {
  padding: 15px 0;
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #666;
}

h3 {
  margin-bottom: 20px;
  padding: 8px 0;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  color: #666;
}

h4 {
  height: auto;
  margin: 0 0 3px;
  font-size: 11px;
  font-weight: bold;
  color: #333;
}

h5 {
  margin: 0;
  font-size: 11px;
  font-weight: bold;
  color: #666;
}

#nav a {
  display: block;
  overflow: hidden;
  width: 56px;
  height: 0;
  padding-top: 19px;
  background: url("/images/menu_off.jpg") no-repeat left top;
}

#nav a:hover {
  background: url("/images/menu_on.jpg") no-repeat left top;
}

.hdGreenLink {
  font-size: 12px;
  font-weight: bold;
  line-height: 13px;
  text-decoration: none;
  color: #9ab729;
}

.hdGreen {
  font-size: 20px;
  color: #9ab729;
}

.hdGreenLink,
.poplink {
  font-size: 12px;
  font-weight: bold;
  line-height: 13px;
  text-decoration: none;
  color: #9ab729;
}

.hdGreenLink:link,
.poplink:link {
  font-size: 12px;
  font-weight: bold;
  line-height: 13px;
  text-decoration: none;
  color: #9ab729;
}

a.hdGreenLink:hover,
.poplink:hover {
  color: #718b1d;
  border-bottom: 1px dashed #9ab729;
}

.hdGreenLink:active,
.poplink:active {
  color: #9ab729;
}

/* Resume Items */

/*# sourceMappingURL=solarcomputing.css.map */
